<section>
  <div class="footer-container flex">
    <div class="container footer-contianer-top">TOP</div>
    <div class="container footer-contianer-bottom">BOTTOM</div>
  </div>
</section>

<style>
  .footer-container {
    margin: auto;
    padding: 1rem;
    /* width: 900px; */
    min-height: 10rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
