---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 195, 55, 100;
    --accent-light: 224, 204, 250;
    --accent-dark: 29, 38, 113;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-dark)) 30%,
      rgb(68, 74, 96) 100%
    );

    /* --text-gradient: {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    } */
  }
  @font-face {
    font-family: "Sohne-Leicht";
    src: url("/fonts/Sohne-Leicht.otf") format("otf");
  }
  @font-face {
    font-family: "Sohne-Fett";
    src: url("/fonts/Sohne-Fett.otf") format("otf");
  }
  @font-face {
    font-family: "Sohne-Halbfett";
    src: url("/fonts/Sohne-Halbfett.otf") format("otf");
  }
  @font-face {
    font-family: "Signifier";
    src: url("/fonts/signifier-web-regular.woff2") format("woff2");
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  body {
    overflow-x: hidden;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .flex {
    display: flex;
    gap: 2rem;
  }
</style>
